language: python
python:
  - "3.6"
  - "3.7"
cache: pip
install:
  - pip install -r requirements.txt
script:
  - cd src/hbf
  - nosetests ../../tests --with-coverage
after_success:
  - bash <(curl -s https://codecov.io/bash)
